@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* Splash Screen */

.splash-screen {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkslateblue;
  /* background-image: url('/assets/img/OKEq.gif'); */
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease;
  z-index: 1;
}

.s-s-con-1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.splash-ss-item-1 {
  font-size: 28px;
  color: #363c46;
  margin-top: 6px;
}

.z-2 {
  display: inline-block;
  transform: rotate(0deg);
  margin-left: 4px;
  margin-right: 4px;
  font-size: 30px;
  padding-bottom: 4px;
}

#zTwo {
  -webkit-transition: all 1s ease;
  -moz-transition: all 11s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.home-heading-2 {
  font-weight: 800;
}
.home-heading-3 {
  font-weight: 500;
}

/* Home Screen */

.home-screen {
  margin-top: -30px;
  height: calc(100vh - 50px);
  background: white;
  overflow: hidden;
  overflow-y: scroll !important;
}

.home-heading-1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #363c46;
  margin-left: 20px;
  font-weight: 600;
}

.home-heading-2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #363c46;
  margin-left: 20px;
  font-weight: 600;
  margin-top: 32px;
}

.icon_rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 130px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
